@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

:root {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

main {
  min-height: 80vh;
}

body.no-scroll-menu {
  background-color: #000;
  overflow: hidden;
}

body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* <ACCESSIBILITY> Hiding class, making content visible only to screen readers but not visually */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Fix uneven default alignment */
.recharts-legend-wrapper {
  left: 50% !important;
  transform: translateX(-50%);
}

.ReactModal__Overlay {
  z-index: 1000;
}
